# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
env/
.venv/

# Django specific
db.sqlite3
*.sqlite3
media/
staticfiles/

# Ignore your custom database folder
mydatabase/

# -----------------------------
# React / Node
# -----------------------------
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# React build artifacts
/build
/dist

# Environment variables
.env

tmp/
mongo-data/


.DS_Store
Thumbs.db

# -----------------------------
# VSCode
# -----------------------------
.vscode/
*.code-workspace

# -----------------------------
# Python packaging
# -----------------------------
*.egg-info/
.eggs/
build/
dist/
